/*
Azul  - 003567
*/

body {
    font-family: arial;
    background: #eee;
    margin: 0px;
}

#principal {
    
    background-color: white;
    width: 100%;  
}

#logoEmpresa {
    background-image: url(../imagens/frames/logoEmpresa.gif);
    display: block;
    height: 50px;
    width:  79px;
    margin: 10px;
    float: left;
}

#nomeSistema {
    
    display: block;
    height: 50px;
    font-size: 16pt;
    color: white;
    vertical-align: middle;
    padding-top: 20px;
}

#usuario {
    background-color: #003567; /* muda_cor */
    color:            #fff;
    display:          block;
    float:            right;
    font-size:        8pt;
    margin:           0px 5px 5px 5px;
}

#usuario a , 
#usuario a:link, 
#usuario a:visited {
    color:            #fff;
}

#toptabs {
    background-color: #003567; /* muda_cor */
    color:            #fff;
    margin:           0;
    padding-top:      .67em;
    padding-left:     5px;
}

#toptabs td {
    border-bottom: 1px solid #666;
    border-right:  1px solid #333;
    border-left:   1px solid #003567; /* muda_cor */
}

#toptabs th {
    border-left: 1px solid #003567; /* muda_cor */
}

.tabvazia td {
    border: none;
    background-color: #003567;
}

.tabs {
    border-bottom: 5px #ddd solid;
    margin-top:    5px;
    margin-bottom: 0px;
    margin-left:   2px;
    margin-right:  2px;
    padding-left:  5px;
}

.tabs td, 
.tabs th {
    background-repeat: no-repeat;
    font-weight:       bold;
}

.tabs th {
    border-right:     1px solid #333;
    background-color: #ddd;
    color:            #fff;
    border-left:      1px solid #fff;
}

.tabs td {
    background-color: #999;
    border-bottom:    1px solid #fff;
    border-right:     1px solid #fff;
    border-left:      1px solid #fff;
}

.tabs th, 
.tabs th a:link, 
.tabs th a:visited {
    color: #555;
}

.tabs td, 
.tabs td a:link, 
.tabs td a:visited {
    color: #fff;
}

.tabs a {
    text-decoration: none;
}

div.tabs th, div.tabs td {
    font-size: 8pt;
}

.miolo {
    
    display: block;
    min-height: 500px;
    width: 100%;
    padding: 20px;
}

.menu {
    color:           black;
    background:      #efefef;
    margin-top:      0px;
    margin-bottom:   6px;
    font-size:       8pt;
    padding:         6px;
    text-decoration: none;    
}

#rodape {
    border-top:       1px solid #fff;
    background-color: #ddd;
    border-right:     1px solid #666;
    border-bottom:    1px solid #666;
    margin-top:       0px;
    font-size:        7pt;
    text-align:       center;
    padding:          5px 0 0 0px;
    height:           20px;

}

.cabecForm {
    background-image:  url(../imagens/frames/nw_maj_rond.gif);
    background-repeat: no-repeat;
    background-color:  #003567;  /* muda_cor */
    color:             #fff;
    padding:           5px;
    padding-left:      10px;
    margin-top:        0;
    margin-left:       0px;
    margin-bottom:     0px;
    font-size:         10pt;
    font-weight:       bold;
    text-align:        left;
}

.corpoForm td, 
.corpoForm th {
    font-size: 8pt;
    color:     black;
    padding:   2px;
    margin:    3px;
}

.corpoForm input, 
.corpoForm select {
    font-size: 8pt;
    color:     black;
}

.tabelaVertical, 
.tabelaVertical table, 
.tabelaHorizontal, 
.tabelaHorizontal table {
    border-collapse: collapse;
    margin-top: 1px;
    margin-bottom: 1px;
    width: 100%;
}

.tabelaVertical td, 
.tabelaHorizontal td {
    border: 1px solid #ddd;
    background-color: #fff;
    padding: 3px;
    text-align: left;
}

.tabelaVertical th, 
.tabelaHorizontal th {
    border: 1px solid #eee;
    background-color: #fff;
    padding: 3px;
    vertical-align: top;
}

.tabelaHorizontal th {
    /*width:            12em;*/
    text-align:       right;
    background-color: #ddd;

}

.tabelaVertical th {
    text-align:       center;
    background-color: #ddd;
}

.corpoForm p {
    color:  #777;
    margin: 3px;
    text-align: left;
}

.barraBotoes {
    background-color:    #003567; /* muda_cor */
    background-image:    url(../imagens/frames/sw_med_rond.gif);
    background-repeat:   no-repeat;
    background-position: bottom left;
    padding:             5px;
    padding-left:        10px;
    margin:              .67em 0px;
    margin-top:          0px;
    font-size:           8pt;
    text-align:          right;
}

.barraBotoes input {
    font-size: 8pt;
}

.barraBotoes a {
    color: #000;
    text-decoration: underline;
}

.mensagemErro, 
.mensagemAlerta, 
.mensagemSucesso, 
.mensagemInformacao, 
.mensagemArquivo, 
.mensagemDiretorio,
.mensagemUsuario, 
.mensagemGrupo, 
.mensagemAjuda, 
.mensagemApagado, 
.mensagemProcesso, 
.mensagemAnotacao, 
.mensagemDica, 
.mensagemAjax {
    background-repeat:   no-repeat;
    background-position: 10px 10px;
    border-top:          5px solid #900;
    border-left:         1px solid #900;
    border-right:        5px solid #900;
    border-bottom:       1px solid #900;
    padding:             10px 10px 10px 50px;
    min-height:          35px;
    font-size:           9pt;
    width:               70%;
    text-align:          justify;
    font-weight:         bold;
}


.mensagemErro {
    background-image: url(../imagens/frames/erroGr.gif);
    color: #900;
}

.mensagemAlerta {
    background-image: url(../imagens/frames/alertaGr.gif);
    border-color: #c60;
    color: #c60;
}

.mensagemSucesso {
    background-image: url(../imagens/frames/sucessoGr.gif);
    border-color: #090;
    color: #090;
}

.mensagemInformacao {
    background-image: url(../imagens/frames/infoGr.gif);
    border-color: #069;
    color: #069;
}

.mensagemArquivo {
    background-image: url(../imagens/frames/arquivoGr.gif);
    border-color: #777;
    color: #777;
}

.mensagemDiretorio {
    background-image: url(../imagens/frames/diretorioGr.gif);
    border-color: #C1A962;
    color: #C1A962;
}

.mensagemUsuario {
    background-image: url(../imagens/frames/usuarioGr.gif);
    border-color: #679E2E;
    color: #679E2E;
}

.mensagemGrupo {
    background-image: url(../imagens/frames/grupoGr.gif);
    border-color: #AE4C0C;
    color: #AE4C0C;
}

.mensagemAjuda {
    background-image: url(../imagens/frames/ajudaGr.gif);
    border-color: #C1A962;
    color: #C1A962;
}

.mensagemApagado {
    background-image: url(../imagens/frames/lixoGr.gif);
    border-color: #7597C3;
    color: #7597C3;
}

.mensagemProcesso {
    background-image: url(../imagens/frames/execucaoGr.png);
    border-color: #CCCCCC;
}

.mensagemAnotacao {
    background-image: url(../imagens/frames/afazerGr.png);
    border-color: #C1A962;
    color: #C1A962;
}

.mensagemDica {
    background-image: url(../imagens/frames/dicaGr.png);
    border-color: #C1A962;
    color: #C1A962;
}

.mensagemAjax {
    background-image: url(../imagens/frames/ajaxLoaderGr.gif);
    border-color: #CCCCCC;
}

.avisoErro, 
.avisoAlerta, 
.avisoExecutado, 
.avisoInformacao, 
.avisoArquivo, .avisoDiretorio,
.avisoUsuario, 
.avisoGrupo, 
.avisoAjuda, 
.avisoApagado, 
.avisoProcesso, 
.avisoAnotacao,
.avisoDica, 
.avisoAjax {
    background-image:    url(../imagens/frames/icon_error_sml.gif);
    background-repeat:   no-repeat;
    background-position: 2px 2px;
    font-size:           8pt;
    border-top:          1px solid #fff;
    background-color:    #ddd;
    border-right:        1px solid #666;
    border-bottom:       1px solid #666;
    margin-top:          0;
    margin-bottom:       10px;
    padding:             3px 0 0 20px;
    height:              21px;
    color:               #006;
    font-weight:         bold;
}

.avisoErro {
    background-image: url(../imagens/frames/erroPq.gif);
    color: #900;
}

.avisoAlerta {
    background-image: url(../imagens/frames/alertaPq.gif);
    color: #990;
}

.avisoExecutado {
    background-image: url(../imagens/frames/sucessoPq.gif);
    color: #060;
}

.avisoInformacao {
    background-image: url(../imagens/frames/infoPq.gif);
}

.avisoArquivo {
    background-image: url(../imagens/frames/arquivoPq.gif);
}

.avisoDiretorio {
    background-image: url(../imagens/frames/diretorioPq.gif);
}

.avisoUsuario {
    background-image: url(../imagens/frames/usuarioPq.gif);
}

.avisoGrupo {
    background-image: url(../imagens/frames/grupoPq.gif);
}

.avisoAjuda {
    background-image: url(../imagens/frames/ajudaPq.gif);
}

.avisoApagado {
    background-image: url(../imagens/frames/lixoPq.gif);
}

.avisoProcesso {
    background-image: url(../imagens/frames/execucaoPq.png);
}

.avisoAnotacao {
    background-image: url(../imagens/frames/afazerPq.png);
}

.avisoDica {
    background-image: url(../imagens/frames/dicaPq.png);
}

.avisoAjax {
    background-image: url(../imagens/frames/ajaxLoaderPq.gif);
}

/* ---------- DisplayTag classes ---------- */
table.its thead tr {
	background-color: #69c;
}

table.its tr.even {
	background-color: #def;
}

table.mars thead tr {
	background-color: #9c9;
}

table.mars tr.even {
	background-color: #ccb;
}

table.mars tr.odd {
	background-color: #eec;
}

table.simple thead tr th {
	background-color: #eee;
}

table.simple tr.even {
	background-color: #fff;
}

table.simple {
	border: 1px solid #ccc;
	border-collapse: collapse;
}

table.simple td,table.simple th {
	border: 1px solid #ccc;
}

table.nocol tbody td,table.nocol tbody th {
	border-left: none;
	border-right: none;
}

table.report td,table.report th {
	font: menu;
}

table.report th {
	background: buttonface;
	border-width: 1px;
	border-style: solid;
	border-color: threedhighlight threedshadow threedshadow threedhighlight;
	cursor: hand;
}

table.report idcol {
	background: buttonface;
}

table.report tr.even {
	background-color: #399;
}

table.report tbody {
	height: 100px;
	overflow: auto;
}

table.report {
	height: 120px;
	overflow: auto;
}

table.report tbody tr {
	height: 10px;
}

table.mark td.tableCellError {
	background-color: #d00;
	color: #fff;
}

table.simple td.textRed {
	color: #b11;
}